Product_67711436.json
{
  "name": "Product_67711436",
  "nodes": [
    {
      "parameters": {
        "path": "productja",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "2421bc14-7235-46b3-b2a2-91cec17300fe",
      "name": "Webhook",
      "webhookId": "7f4e7336-de20-4cfb-857a-7a332363a6d3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uD37ySQvBZ00iaxH79f_smOgi6UBTwcMSPPpIS4r3_s",
          "mode": "list",
          "cachedResultName": " products_67711436",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uD37ySQvBZ00iaxH79f_smOgi6UBTwcMSPPpIS4r3_s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uD37ySQvBZ00iaxH79f_smOgi6UBTwcMSPPpIS4r3_s/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "853622f8-f7b6-4c62-94c8-90c843e63eff",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "94ylJPMarY4kibIu",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cb578a8f-163c-4460-b7e4-756039f39014",
              "name": "id_product",
              "value": "={{ $json['รหัสสินค้า'] }}",
              "type": "string"
            },
            {
              "id": "faa6a220-b712-4281-bdfc-614ca60d6464",
              "name": "name",
              "value": "={{ $json['ชื่อสินค้า'] }}",
              "type": "string"
            },
            {
              "id": "1f468eb3-e352-4ea9-bec0-b8c1ddf07e9e",
              "name": "qty",
              "value": "={{ $json['จำนวน'] }}",
              "type": "number"
            },
            {
              "id": "23305fa6-1697-4bfb-95db-25f5a0ff6b90",
              "name": "price",
              "value": "={{ $json['ราคา'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "8dfbf5c6-f439-4669-857a-f7a65621dc22",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        0
      ],
      "id": "71078779-ba0c-455a-8c75-897286978fdc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c5440ac2-1801-434c-9f0c-331f5381f6ab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "10d9c29af75036fb033cdad741539d864bd761c741ea6fce0775d2de34cf7d32"
  },
  "id": "j8fwBfWkh1k66mvu",
  "tags": []
}