Product_send_mail.json
{
  "name": "Product_send_mail",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=Productpost",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        112
      ],
      "id": "2bab962b-774d-490f-a49f-8ce3e23bdee5",
      "name": "Webhook",
      "webhookId": "0b3a34ba-27fd-43a0-9684-bad5922ea621"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "750ee2d7-f554-4a43-ae48-610537c97743",
              "name": "id_product",
              "value": "={{ $json.body.id_product }}",
              "type": "string"
            },
            {
              "id": "97d515e8-349f-4639-8f91-47b75aae1f42",
              "name": "name",
              "value": "={{ $json.body.name }}",
              "type": "string"
            },
            {
              "id": "eee2b90f-a1a4-418b-a31f-bb08fedcca63",
              "name": "qty",
              "value": "={{ $json.body.qty }}",
              "type": "string"
            },
            {
              "id": "a021031b-a0f8-4a79-b62e-460c6a439da4",
              "name": "price",
              "value": "={{ $json.body.price }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -368,
        112
      ],
      "id": "29ea81fc-8284-4a6c-942f-02993d278c10",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "016506ea-4603-46fd-a304-239fbfa895fa",
              "leftValue": "={{ $json.id_product }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5ef99b50-19ab-43d8-9901-d22bf0dbc24f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bc055d4b-3895-4a75-a492-fa35ee365886",
              "leftValue": "={{ $json.qty }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5a39f319-99ca-46d2-937d-2f24ab40bc15",
              "leftValue": "={{ $json.price }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        96
      ],
      "id": "daa80858-18ba-4984-a2bc-3302ca7205f9",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uD37ySQvBZ00iaxH79f_smOgi6UBTwcMSPPpIS4r3_s",
          "mode": "list",
          "cachedResultName": " products_67711436",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uD37ySQvBZ00iaxH79f_smOgi6UBTwcMSPPpIS4r3_s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uD37ySQvBZ00iaxH79f_smOgi6UBTwcMSPPpIS4r3_s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "รหัสสินค้า": "={{ $json.id_product }}",
            "ชื่อสินค้า": "={{ $json.name }}",
            "จำนวน": "={{ $json.qty }}",
            "ราคา": "={{ $json.price }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "รหัสสินค้า",
              "displayName": "รหัสสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ชื่อสินค้า",
              "displayName": "ชื่อสินค้า",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "จำนวน",
              "displayName": "จำนวน",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ราคา",
              "displayName": "ราคา",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "f4e8fc64-ba5b-4785-af99-09d2d3ca03cb",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cxjWisc4v9upwzAl",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "natthawut8942@gmail.com",
        "subject": "แจ้งเตือนเพิ่มสินค้าใหม่: {{ $json.body.name }}",
        "emailType": "text",
        "message": "=<h3>เพิ่มสินค้าสำเร็จ!</h3>\n<p>รหัสสินค้า: {{ $json['รหัสสินค้า'] }}</p>\n<p>ชื่อสินค้า:{{ $json['ชื่อสินค้า'] }}</p>\n<p>จำนวน:{{ $json['จำนวน'] }}</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "5a86fa65-d314-4de3-b1fc-d347f82a075b",
      "name": "Send a message",
      "webhookId": "5fd481c9-5ccd-48a1-beea-02b867404995",
      "credentials": {
        "gmailOAuth2": {
          "id": "KUx9UgP6qvw6WoA2",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"msg\": \"ข้อมูลถูกบันทึกแล้ว\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "c54e8083-e7e2-4e96-b06a-88fa9d439e04",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{ \"msg\": \"กรุณากรอกข้อมูลให้ครบถ้วน\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        192
      ],
      "id": "18e78f3a-1e13-4809-8406-4f3c64a36c37",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c8d1aa2d-85bb-44ba-afc4-61ac59d2f3dc",
  "meta": {
    "instanceId": "10d9c29af75036fb033cdad741539d864bd761c741ea6fce0775d2de34cf7d32"
  },
  "id": "4sEXhMibygn5uveA",
  "tags": []
}